body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image:  url('backgroundlogin.jpg') ;
}
form:hover{
    background-color: #e4b078;  
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    width: 350px;
    height: 420px;
    background:  rgba(190, 111, 54, 0.952);
    border-radius: 15px;
    box-sizing: border-box;
}
h1{
    color: white;
    text-align: center;
    margin-top: 70px;
}
input[type="text"],[type="password"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #b44209e2;
    background: none;
    padding: 5px  ;
    color: #fff;
    }
    input[type="text"]{
        top: 140px;
        left: 50px;
    }
    [type="password"]{
        top: 210px;
        left: 50px;
    
     
    }
    ::placeholder{
        color: #fff;
    }
    input[value="Login"]{
        position: absolute;
        top: 305px;
        left: 110px;
        width: 130px;
        height: 35px; 
        background: #995308ec;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 15px;
        font-size: 20px;
    
    }
    input[value="Login"]:hover{
        background: #743f06;
        color: #0b0b0b;
    }
    p{
        position: absolute;
        top: 350px;
        left: 50px;
        color: #fff;
        cursor: pointer;
    
    }
    p:hover
{
   color: #956607d7;

}